.complete-container{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @include breakpoint-down(medium){
        margin-bottom: 3rem;
    }
    h2{
        text-transform: uppercase;
        margin: 1rem 0;
        font-size: 24px;
        letter-spacing: 2px;
        color:$very-dark-violet;
    }

    p{
        color: $dark-grayish-violet;
        font-size: 1.2rem;
    }
    .padding-lr{
        padding: 1rem 9rem;
        margin-top: 2rem;
        text-align: center;
    }
}