$linear1-active-border: hsl(249, 99%, 64%);
$linear2-active-border: hsl(278, 94%, 30%);
$red-input-error: hsl(0, 100%, 66%);
$white: hsl(0, 0%, 100%);
$light-grayish-violet: hsl(270, 3%, 87%);
$dark-grayish-violet: hsl(279, 8%, 55%);
$very-dark-violet: hsl(278, 68%, 11%);

button{
                width: 100%;
                padding: 0.5rem 1rem;
                color: $white;
                border: none;
                border-radius:5px ;
                background-color: $very-dark-violet
            }

